.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    top:45px;
    background-color: lavender;
  }
  
  .right {
    right: 0;
    top:45px;
    background-color:lavenderblush;
  }
  


  .cartItem{
    width: 45%;
    height: 250px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: lightskyblue;
    position: relative;
    float: left;
  }
